.input::-webkit-slider-runnable-track {
  height: 14px;
  border-radius: 9999px;
  background: #e5e5e5;
}

.input::-webkit-slider-thumb {
  width: 28px;
  height: 28px;
  margin-top: -7px;
  appearance: none;
  border: 3px solid #ffffff;
  border-radius: 9999px;
  background: #ca8a04;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.input::-moz-range-track {
  height: 14px;
  border-radius: 9999px;
  background: #e5e5e5;
}

.input::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border: 3px solid #ffffff;
  border-radius: 9999px;
  background: #ca8a04;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}
